/.DS_Store
/.metadata
/ERD
/Navigation.pdf
/Title_20.pdf
/Отчет по курсовой работе Котов Прохор.pages
/Отчет по курсовой работе Котов Прохор.pdf
/Django_docker/.venv
/Django_docker/__pycache__
/Django_docker/.vscode
/SQL_files/Inserting_values.sql