<div class="main_div">
    <form action="#" method="get">
        <link rel="stylesheet" href="/static/css/main_menu.css" />

        {% if invalid %}
            <p class="incorrect_input">{{invalid}}</p>
        {% endif %}

        <a href="{{url_for('search_flights')}}">
            <button type="button">Search flights</button>
        </a>
        <br>
        <a href="{{url_for('edit_passenger')}}">
            <button type="button">Edit passenger info</button>
        </a>
        <br>
        <a href="{{url_for('add_airport')}}">
            <button type="button">Add airport</button>
        </a>
        <br>
        <a href="{{url_for('edit_airport')}}">
            <button type="button">Edit airport info</button>
        </a>
        <br>
        <a href="{{url_for('add_flight')}}">
            <button type="button">Add flight</button>
        </a>
        <br>
        <a href="{{url_for('client_search_flights')}}">
            <button type="button">Client search flights</button>
        </a>
        <br>
        <a href="{{url_for('booking_info')}}">
            <button type="button">Booking info</button>
        </a>
    </form>
    <form action="#" method="post">
        <a href="{{url_for('logout')}}">
            <button class="ccl_btn" type="button">Logout</button>
        </a>
    </form>
</div>